@import "../../static/scss/slides.scss";
@import "../../static/scss/variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vw;
  padding: 0.75rem;
  width: fit-content;
  height: 6rem;
  font-size: $font-size;
  background-color: plum;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  &__round-shadow {
    $shadow-color: rgba(0, 0, 0, 0.123);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    box-shadow: rgba(0, 0, 0, 0.216) inset 0 0 0.5rem 0.1px,;
    background-color: plum;
  }

  &__round {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    box-shadow:
      rgba(0, 0, 0, 0.5) -3px -3px 0.25rem 0.1px,
      rgba(255, 255, 255, 0.664) 3px 3px 0.25rem 0.2px,;
    color: beige;
    background-color: black;
  }

  &__sign {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &:hover {
    cursor: pointer;
  }
}