.slide-wrapper
  .slide3
    #slide3-place-for-modal
    .slide3__grid
      .slide3__key-msg Ключевое сообщение
      .slide3__header Brend &nbsp;
        span.slide3__header--bold XY
      .slide3__content
        .slide3__content__grid
          .slide3__content__grid_section1
            p.slide3__content__rect1
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore voluptates qui soluta tempora officia!
          .slide3__content__grid_section2
            p.slide3__content__rect2
              | Lorem ipsum dolor sit amet.
            .slide3__content__btn#slide3-place-for-btn
  //- img.slide2__img-virus1(src='/img/box-1/img/virus1.png')
  //- img.slide2__img-virus2(src='/img/box-1/img/virus2.png')
  //- img.slide2__img-virus3(src='/img/box-1/img/virus3.png')
  //- img.slide2__img-virus4(src='/img/box-1/img/virus4.png')
  //- img.slide2__img-virus5(src='/img/box-1/img/virus5.png')
  //- img.slide2__img-virus6(src='/img/box-1/img/virus6.png')
  //- img.slide2__img-bact(src='/img/box-1/img/bact.png')
  //- img.slide2__img-sperm1(src='/img/box-1/img/sperm1.png')
  //- img.slide2__img-sperm2(src='/img/box-1/img/sperm2.png')
