@import "../../static/scss/slides.scss";
@import "../../static/scss/variables.scss";

.slide3 {
  position: relative;
  width: 100%;
  height: 100%;

  #slide3-place-for-modal {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__grid {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 35%;
    width: 100%;
    height: 100%;
    background-color: red;
  }

  &__key-msg {
    display: flex;
    margin-top: 5rem;
    width: 100%;
    font-size: $font-size-big;
    text-transform: uppercase;
  }

  &__header {
    display: flex;
    width: 100%;
    font-size: $font-size-large;
    text-transform: uppercase;

    &--bold {
      font-weight: bold;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: yellow;

    &__grid {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      height: 70%;
    }

    &__grid_section1 {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &__grid_section2 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-left: 4rem;
      width: 100%;
      height: 100%;
    }

    &__rect1 {
      position: relative;
      display: flex;
      margin: 0;
      border-radius: 0 2rem 2rem 0;
      padding: 4rem 4rem 6rem 0;
      width: 100%;
      height: 100%;
      font-size: $font-size;
      background-color: beige;

      &::before {
        content: "";
        position: absolute;
        left: -10rem;
        top: 0;
        border-radius: 2rem 0 0 2rem;
        width: 10rem;
        height: 100%;
        background-color: beige;
      }

      &::after {
        content: url("../../static/img/3_box/txt1/icon1.svg");
        position: absolute;
        top: -6rem;
        z-index: 3;
        transform: scale(0.6);
        transform-origin: bottom left;
      }

      p {
        display: flex;
        height: calc(5 * 2rem);
        font-size: $font-size;
        line-height: 2rem;
      }
    }

    &__rect2 {
      position: relative;
      display: flex;
      margin: 0;
      border-radius: 2rem;
      padding: 4rem;
      width: 100%;
      height: fit-content;
      font-size: $font-size;
      background-color: beige;

      &::after {
        content: url("../../static/img/3_box/txt2/icon2.svg");
        position: absolute;
        top: -6rem;
        z-index: 3;
        transform: scale(0.6);
        transform-origin: bottom left;
      }

      p {
        display: flex;
        height: calc(2 * 2rem);
        line-height: 2rem;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: fit-content;
    }
  }

  &__modal {
    z-index: -15;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &__grid {
      display: flex;
      padding: 6rem 6rem 6rem 39%;
      width: 100%;
      height: 100%;
    }

    &__rect {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 0 2rem 2rem 0;
      padding: 0 2rem 0 0;
      width: 100%;
      height: 100%;
      font-size: $font-size;
      background-color: beige;

      &::before {
        content: "";
        position: absolute;
        left: -20rem;
        top: 0;
        border-radius: 2rem 0 0 2rem;
        width: 20rem;
        height: 100%;
        background-color: beige;
      }

      .carousel__nav {
        justify-content: flex-start;
        width: 100%;
      }
    }

    &__content {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;

      &__text {
        margin-bottom: 0.5rem;

        &__header {
          color: rgb(102, 198, 230);
        }
      }

      &__slide {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: $font-size;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;

        &--current {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &--open {
      opacity: 1;
    }
  }

  @extend .slide;
}