.slide-wrapper
  .slide1
    .slide1__greeting Привет,
    .slide1__text
      .slide1__text__row Это &nbsp;
        span.slide1__text--bold не
      .slide1__text__row коммерческое
      .slide1__text__row задание
        span#slide1-place-for-btn
    .slide1__greeting &nbsp;
  img.slide1__img-virus1(src='/img/box-1/img/virus1.png')
  img.slide1__img-virus2(src='/img/box-1/img/virus2.png')
  img.slide1__img-virus3(src='/img/box-1/img/virus3.png')
  img.slide1__img-virus4(src='/img/box-1/img/virus4.png')
  img.slide1__img-virus5(src='/img/box-1/img/virus5.png')
  img.slide1__img-virus6(src='/img/box-1/img/virus6.png')
  img.slide1__img-bact(src='/img/box-1/img/bact.png')
  img.slide1__img-sperm1(src='/img/box-1/img/sperm1.png')
  img.slide1__img-sperm2(src='/img/box-1/img/sperm2.png')

