@import "../../static/scss/slides.scss";
@import "../../static/scss/variables.scss";

.slide1 {
  #slide1-place-for-btn {
    margin: 0 auto;
    text-transform: none;
  }

  &__greeting {
    margin: 5px;
    width: 100%;
    font-size: $font-size-big;
    line-height: 3rem;
    text-transform: uppercase;
  }

  &__text {
    width: 100%;
    height: 100%;
    font-size: $font-size-titul;
    text-transform: uppercase;

    &__row {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 5px;
      width: 100%;
      line-height: 8rem;
    }

    &--bold {
      font-weight: bold;
    }
  }

  &__img {
    &-bact {
      left: -15%;
      top: 3%;
      transform: scale(0.6);

      @extend .slide__img;
    }

    &-virus1 {
      left: 8%;
      top: 65%;
      z-index: 1;
      transform: scale(0.6);

      @extend .slide__img;
    }

    &-virus2 {
      left: 32%;
      top: 80%;
      transform: scale(0.6);

      @extend .slide__img;
    }

    &-virus3 {
      left: 45%;
      top: 75%;
      transform: scale(0.6);

      @extend .slide__img;
    }

    &-virus4 {
      left: 70%;
      top: 6%;
      transform: scale(0.6);

      @extend .slide__img;
    }

    &-virus5 {
      left: 80%;
      top: 20%;
      transform: scale(0.6);

      @extend .slide__img;
    }

    &-virus6 {
      left: 89%;
      top: 2%;
      transform: scale(0.6);

      @extend .slide__img;
    }

    &-sperm1 {
      left: -25%;
      top: 70%;
      transform: scale(0.5);

      @extend .slide__img;
    }

    &-sperm2 {
      left: 23%;
      top: 12%;
      z-index: 3;
      transform: scale(0.5);

      @extend .slide__img;
    }
  }

  @extend .slide;
}