@import "../../static/scss/slides.scss";
@import "../../static/scss/variables.scss";

.slide2 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;

  &__header {
    align-self: flex-start;
    margin-top: calc(3rem * 1.5);
    font-size: $font-size-big;
    text-align: left;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;

    &_box {
      position: absolute;
      left: 4rem;
      right: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      border-radius: 2rem;
      width: calc(100% - 10rem);
      height: 100%;
      background-color: azure;
    }
  }

  &__scroll-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    direction: rtl;

    &::-webkit-scrollbar {
      width: 1.5rem;
    }

    &::-webkit-scrollbar-track {
      border-right: 0.75rem solid transparent;
      border-left: 0.75rem solid transparent;
      border-radius: 100vw;
      margin-block: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100vw;
      background-color: plum;

      &:hover {
        background-color: rgb(216, 138, 216);
      }
    }
  }

  &__text {
    position: absolute;
    left: 4rem;
    right: 6rem;
    padding: 2rem;
    width: calc(100% - 10rem);
    height: 100%;
    font-size: $font-size;

    &--bold {
      font-weight: bold;
    }
  }

  &__scroll-track {
    position: absolute;
    left: calc((1.5rem - 5px) / 2);
    width: 5px;
    height: 100%;
    background-color: black;
    margin-block-start: 1.05rem;
  }

  &__img {
    display: none;

    &-sperm1 {
      @extend .slide__img;

      // top: 65%;
      // left: 8%;
      // transform: scale(0.6);
    }

    &-sperm2 {
      left: 0;
      top: 0;
      transform: scale(1);

      @extend .slide__img;
    }

    &-sperm3 {
      left: 0;
      top: 0;
      transform: scale(1);

      @extend .slide__img;
    }

    &-sperm4 {
      left: 0;
      top: 0;
      transform: scale(1);

      @extend .slide__img;
    }

    &-sperm5 {
      left: 0;
      top: 0;
      transform: scale(1);

      @extend .slide__img;
    }
  }

  @extend .slide;
}