.slide-wrapper
  .slide2
    p.slide2__header
      | Текст
      br
      | Сообщения
    .slide2__content
      //- .slide2__scroll
      .slide2__scroll-track
        //- .slide2__scroll__thumb
      .slide2__content_box
      .slide2__scroll-wrapper
        p.slide2__text
          span.slide2__text--bold Lorem ipsum dolor sit amet 
          | consectetur adipisicing elit. Sit magnam eius animi quo! Ducimus architecto distinctio porro labore maiores ratione debitis quas recusandae adipisci voluptatum nemo impedit, omnis at aspernatur minima unde autem eveniet magnam numquam molestias nam in? Inventore, vitae culpa illo veniam nemo veritatis officia recusandae. Omnis ratione nobis tenetur, quibusdam expedita eligendi esse reiciendis possimus molestiae nam! Ad asperiores itaque nam hic ipsa quia quidem consectetur? Dolor ea cupiditate saepe, nisi magni sed veniam reiciendis iusto itaque voluptatibus molestias sequi necessitatibus sunt odit temporibus voluptatum! Soluta nobis est nulla cumque iusto error enim cum quaerat eveniet aspernatur voluptas odit tenetur excepturi id, provident accusamus possimus ipsa rem nisi! Iusto sequi quaerat quas quis. Dolorem quis harum et suscipit debitis. Officiis ut nam non natus ducimus illo sed aperiam, velit reiciendis cupiditate vel at cumque, consequatur, nihil veniam praesentium a ipsa quis fugiat debitis nostrum. Nam in molestias et dolorum ullam corporis aspernatur corrupti at repudiandae obcaecati earum, a voluptatem adipisci magnam rem aliquam odio cupiditate fuga expedita qui, quia assumenda aliquid nisi neque. Quibusdam, perspiciatis, deleniti, at molestias soluta voluptas incidunt adipisci illo dolorum excepturi facilis maxime? Ducimus quidem quis voluptatibus laboriosam maxime! Sequi odit incidunt ea beatae exercitationem quo alias placeat quod voluptas, cum tenetur aliquam hic saepe quaerat soluta explicabo. Quasi excepturi consectetur qui quam sint rerum earum explicabo assumenda nulla, maxime corrupti dolore obcaecati magnam dolores rem consequuntur minima id ut! In ratione ab commodi nostrum aliquam tempore exercitationem debitis, recusandae molestiae, aspernatur expedita corporis est ut numquam? Libero dolore doloribus neque cumque ipsam ullam illum ipsa. Aliquam modi quaerat accusantium ipsa placeat accusamus eveniet et impedit culpa, officiis minima eos, excepturi nobis, corrupti illo cumque tempora! Tenetur expedita libero voluptatem. Similique molestiae doloribus animi, delectus rerum, eos vero fugit quasi iusto suscipit, eum aliquam quod repellat temporibus enim ab numquam. Officia aperiam hic, accusantium voluptatibus possimus omnis quo amet ipsa, culpa laborum repudiandae. Assumenda optio laboriosam similique? Est hic voluptatibus facere repellat sunt dolores, expedita animi aut natus similique recusandae nisi harum dolorem ad! At perspiciatis dolorem odio numquam a unde esse tempore illum maxime, animi minima impedit autem reiciendis dicta ea qui recusandae eveniet error. Repudiandae maxime recusandae magnam suscipit, quod consequatur ex nisi minus enim saepe illo cum, commodi voluptatibus delectus voluptates vel rerum deleniti odio beatae dicta non. Alias debitis fugiat magnam recusandae molestias, illo nostrum consequatur tempora consequuntur quae autem voluptatibus incidunt ipsum cupiditate magni voluptatum nobis aliquid eaque unde porro nisi ullam? Recusandae, odit veritatis! Nisi magni a, ab veritatis iste necessitatibus veniam ullam molestias fugiat natus cupiditate cum autem voluptatibus quos minima minus totam eius debitis praesentium pariatur vero maiores vitae rem consequuntur. Error harum iure quas voluptatem placeat ducimus soluta ea cum consequuntur labore facilis, suscipit vel nisi omnis dicta dolorem accusantium nihil praesentium inventore. Magnam tenetur expedita labore reprehenderit, iure nesciunt fugiat alias voluptas quidem excepturi quasi dolor hic at eaque quae tempore exercitationem. Fugiat officiis porro explicabo doloremque sapiente possimus quod incidunt sint dolore?
  img.slide2__img-sperm1(src='/img/2_box/img/1.png')
  img.slide2__img-sperm2(src='/img/2_box/img/3.png')
  img.slide2__img-sperm3(src='/img/2_box/img/4.png')
  img.slide2__img-sperm4(src='/img/2_box/img/5.png')
  img.slide2__img-sperm5(src='/img/2_box/img/2.png')
