$modal-bg: rgba(0, 0, 0, 0.7);
$label-margin: 10px;
$title-margin-bottom: 20px;
$btn-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
$modal-window-padding: 2% 4%;
$close-btn-margin: 10px;
$window-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));

.modal {
  width: 100%;
  height: 100%;

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -15;
    width: 100%;
    height: 100%;
    background: $modal-bg;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  &__window {
    position: absolute;
    z-index: -15;
    border: 2px sandybrown solid;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: $window-filter;
    transition: all 0.3s;
  }

  &__close-btn {
    position: absolute;
    right: $close-btn-margin;
    top: $close-btn-margin;
    margin: 0;
    border: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  &_open {
    z-index: 15;
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.modal_open .modal__window {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
