.slide3__modal__content
  .slide3__modal__content__slide.slide3__modal__content__slide--current
    .slide3__modal__content__text
      .slide3__modal__content__text__header 01
      .slide3__modal__content__text__msg Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    .slide3__modal__content__text
      .slide3__modal__content__text__header 02
      .slide3__modal__content__text__msg Voluptates at culpa eius voluptatem omnis.
    .slide3__modal__content__text
      .slide3__modal__content__text__header 03
      .slide3__modal__content__text__msg Lorem, ipsum dolor sit amet consectetur adipisicing elit.

  .slide3__modal__content__slide
    .slide3__modal__content__text
      .slide3__modal__content__text__header 04
      .slide3__modal__content__text__msg Voluptates at culpa eius voluptatem omnis.
    .slide3__modal__content__text
      .slide3__modal__content__text__header 05
      .slide3__modal__content__text__msg Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    .slide3__modal__content__text
      .slide3__modal__content__text__header 06
      .slide3__modal__content__text__msg Voluptates at culpa eius voluptatem omnis.

  .carousel__nav
    button.carousel__button--left
      img(src="/img/popup/pagination/btn_next.svg", alt="<-", height="19px")
    button.carousel__indicator.carousel__indicator__fill
    button.carousel__indicator
    button.carousel__button--right
      img(src="/img/popup/pagination/btn_next.svg", alt="->", height="19px")
