@import "./static/scss/variables.scss";

$bkg: url("./static/img/bg.png");
$header-logo: url("./static/img/global/global.svg");
$footer-logo: url("./static/img/global/onpointlogo.png");
$header-height: 3rem;
$footer-height: 1.5rem;
$main-padding: 0 calc(0.5 * 8rem) 0 calc(0.75 * 8rem);
$font: sans-serif;
$font-color: #191919;

* {
  box-sizing: border-box;
}

#root,
body {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: $font;
  color: $font-color;
  cursor: default;
}

body {
  background-color: beige;
}

.page {
  width: 100vw;
  height: 100vh;
  background-image: $bkg;
  background-size: cover;
}

header,
footer {
  width: 100%;
}

header {
  left: 0;
  top: 0;
  padding: $main-padding;
  height: $header-height;
  line-height: $header-height;

  a {
    display: flex;
    width: fit-content;
    height: 100%;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: $main-padding;
  height: $footer-height;
  line-height: $footer-height;

  &__sign {
    display: flex;
  }

  &__logo {
    display: flex;
  }
}

.container {
  position: relative;
  margin: 0;
  padding: $main-padding;
  width: 100%;
  height: calc(100% - $footer-height - $header-height);
}
