.carousel
  .carousel__content
    ul.carousel__slides
      li.carousel__slide
      li.carousel__slide
      li.carousel__slide
  if (type !== 'pagination')
    button.carousel__button--left.carousel__button--side
      img(src="/img/popup/pagination/btn_next.svg", alt="<-", height="30px")
    button.carousel__button--right.carousel__button--side
      img(src="/img/popup/pagination/btn_next.svg", alt="<-", height="30px")
  if (type === 'pagination')
    .carousel__nav
      button.carousel__button--left
        img(src="/img/popup/pagination/btn_next.svg", alt="<-", height="19px")
      button.carousel__indicator
      button.carousel__indicator
      button.carousel__indicator
      button.carousel__button--right
        img(src="/img/popup/pagination/btn_next.svg", alt="->", height="19px")