.carousel {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  &__content {
    position: relative;
    overflow-x: clip;
    height: 100%;
  }

  &__slides {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &__button {
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 5px;
    border: none;
    width: 19px;
    height: 19px;
    background-color: transparent;

    img {
      display: flex;
    }

    &:hover {
      cursor: pointer;
    }

    &--left {
      transform: rotate(180deg);

      @extend .carousel__button;
    }

    &--right {
      @extend .carousel__button;
    }

    &--side {
      position: absolute;
      left: -40px;
      top: calc(50% - 15px);
      width: 30px;
      height: 30px;

      @extend .carousel__button;
    }

    &--side.carousel__button--right {
      left: unset;
      right: -40px;
    }
  }

  &__slide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__nav {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    transform: translateX(-50%);
  }

  &__indicator {
    display: flex;
    margin: auto 5px;
    border: 2px solid rgb(29, 29, 29);
    border-radius: 50%;
    width: 19px;
    height: 19px;
    background-color: transparent;

    &__fill {
      background-color: rgb(182, 41, 135);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
